*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

body {
	height: 100vh;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
header,
footer {
	height: 5vh;
	width: 100vw;
	background-color: aqua;
	text-align: center;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	#game-board {
		width: 300px;
		height: 300px;
		margin: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		background-color: black;
		border: solid 1px black;
		.cell-element {
			width: 100px;
			height: 100px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: white;
			border: solid 2px black;
			box-sizing: border-box;
		}
	}
}

footer {
	height: 5vh;
	background-color: aqua;
	width: 100%;
}

.cell-element {
	background-color: aqua;
}
